# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

# Code Language Spec
demos/* linguist-documentation
demos-jquery/* linguist-documentation
# examples/* linguist-documentation
# examples-jquery/* linguist-documentation
skin/* linguist-documentation
transitions/* linguist-documentation
img/* linguist-vendored
svg/* linguist-vendored
*.html linguist-documentation